body, html, div { margin: 0; padding: 0; }

.c-bg { width: 343px; height: 480px; margin: 50px auto 0; background: url("../img/bg.jpg") no-repeat; position: relative; overflow: hidden; }
.c-bg .c-title { width: 236px; height: 77px; background-image: url(../img/head.jpg); position: absolute; left: 53px; top: 100px; animation: shaking 0.5s linear infinite alternate; }
.c-bg .c-title #headBird { background: url(../img/allbird.png) no-repeat; height: 26px; width: 40px; background-position: 0 -121px; float: right; margin-top: 25px; animation: flying 0.5s step-start infinite alternate; }
.c-bg .c-sbtn { width: 85px; height: 29px; padding: 0; margin: 0; background-image: url(../img/start.jpg); position: absolute; left: 129px; top: 250px; }
.c-bg .c-grass { height: 14px; width: 343px; background-image: url(../img/banner.jpg); position: absolute; top: 423px; animation: grassMove 4s linear infinite; }
.c-bg #grassLand2 { left: 343px; }
.c-bg .pipe { width: 62px; position: absolute; animation: pipeMove 4s linear; }
.c-bg .pipe div { width: 100%; }
.c-bg .p-up { top: 0; }
.c-bg .p-up .up-one { background: url("../img/up_mod.png") repeat-y; }
.c-bg .p-up .up-two { height: 60px; background: url("../img/up_pipe.png") no-repeat; }
.c-bg .p-down { bottom: 57px; }
.c-bg .p-down .down-one { height: 60px; background: url("../img/down_pipe.png") no-repeat; }
.c-bg .p-down .down-two { background: url("../img/down_mod.png") repeat-y; }

@keyframes shaking { from { transform: translateY(0); }
  to { transform: translateY(-10px); } }
@keyframes flying { 0% { background-position: 0 -121px; }
  50% { background-position: 0 -156px; }
  100% { background-position: 0 -121px; } }
@keyframes grassMove { from { transform: translateX(0); }
  to { transform: translateX(-410px); } }
@keyframes pipeMove { from { transform: translateX(0); }
  to { transform: translateX(-410px); } }
