body,
html,
div {
    margin: 0;
    padding: 0;
}

@mixin allbird {
    background: url(../img/allbird.png) no-repeat;
}

@mixin down_bird1 {
    height: 30px;
    width: 40px;
    background-position: 0 0;
}

@mixin up_bird0 {
    height: 29px;
    width: 40px;
    background-position: 0 -41px;
}

@mixin up_bird1 {
    height: 29px;
    width: 40px;
    background-position: 0 -80px;
}

@mixin bird0 {
    height: 26px;
    width: 40px;
    background-position: 0 -121px;
}

@mixin bird1 {
    height: 26px;
    width: 40px;
    background-position: 0 -156px;
}

@mixin down_bird0 {
    height: 30px;
    width: 40px;
    background-position: 0 -191px;
}

.c-bg {
    width: 343px;
    height: 480px;
    margin: 50px auto 0;
    background: url('../img/bg.jpg') no-repeat;
    position: relative;
    overflow: hidden;
    .c-title {
        width: 236px;
        height: 77px;
        background-image: url(../img/head.jpg);
        position: absolute;
        left: 53px;
        top: 100px;
        animation: shaking 0.5s linear infinite alternate;
        #headBird {
            @include allbird;
            @include bird0;
            float: right;
            margin-top: 25px;
            animation: flying 0.5s step-start infinite alternate;
        }
    }
    .c-sbtn {
        width: 91px;
        height: 34px;
        padding: 0;
        margin: 0;
        background-image: url(../img/start.jpg);
        position: absolute;
        left: 121px;
        top: 250px;
    }
    .c-grass {
        height: 14px;
        width: 343px;
        background-image: url(../img/banner.jpg);
        position: absolute;
        top: 423px;
    }
    .grass-move {
        animation: grassMove 4s linear infinite;
    }
    #grassLand2 {
        left: 343px;
    }
    .pipe {
        width: 62px;
        position: absolute;
        div {
            width: 100%;
        }
    }
    #score {
        position: absolute;
        left: 130px;
        top: 50px;
        z-index: 1;
    }
    #score div {
        height: 39px;
        width: 28px;
        float: left;
        background-image: url(../img/0.jpg);
        display: none;
    }
    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        opacity: 0.5;
        z-index: 99;
        display: none;
    }
    #overWrap {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        vertical-align: bottom;
        display: none;
        .end {
            width: 221px;
            height: 40px;
            background: url("../img/game_over.jpg") no-repeat;
        }
        #again {
            margin-top: 20px;
            width: 100px;
            height: 37px;
            background: url("../img/ok.jpg") no-repeat;
        }
        #scorebtn {
            margin-top: 20px;
            width: 100px;
            height: 37px;
            background: url("../img/score.jpg") no-repeat;
            background-size: 100%;
            margin-left: 16px;
        }
    }
}

@keyframes shaking {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-10px)
    }
}

@keyframes flying {
    0% {
        background-position: 0 -121px;
    }
    50% {
        background-position: 0 -156px;
    }
    100% {
        background-position: 0 -121px;
    }
}

@keyframes grassMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-400px);
    }
}